:root {
  --color-background: #415a77;
  --color-fill: #f3f3f3;
  --color-shadow: #364b62;
  --color-primary: #415a77;
  --color-secondary: #f3f3f3;
  --color-border: #9aa7b5;
  --color-text: #000000;
}

input::placeholder {
  color: var(--color-border);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: var(--color-text);
}

body h1 {
  margin: 20px 0;
  font-size: 36px;
  color: var(--color-secondary);
  text-shadow: 0 4px 6px var(--color-shadow);
}

#search-input {
  width: 400px;
  height: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  background-color: var(--color-fill);
  box-shadow: 0 4px 6px var(--color-shadow);
  border: 1px solid var(--color-border);
  border-radius: 10px;
}
.match-card {
  background-color: var(--color-fill);
  width: 400px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 6px var(--color-shadow);
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

.match-card h2 {
  margin: 5px 0;
  font-size: 40px;
  color: var(--color-primary);
}

.match-card h4 {
  margin: 5px 0;
  font-size: 18px;
}

.match-card p {
  margin: 5px 0;
  font-size: 16px;
}

.card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  justify-content: left;
}

.round {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.date {
  justify-content: right;
}

.teams {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
}
