:root {
  --color-background: #415a77;
  --color-fill: #f3f3f3;
  --color-shadow: #364b62;
  --color-primary: #415a77;
  --color-secondary: #f3f3f3;
  --color-border: #9aa7b5;
  --color-text: #000000;
}

* {
  box-sizing: border-box;
}

input::placeholder {
  color: var(--color-border);
}
input:focus {
  outline: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: var(--color-text);
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 20px;
  background: linear-gradient(
    to bottom,
    var(--color-background) 0%,
    var(--color-background) 85%,
    rgba(65, 90, 119, 0) 100%
  );
}

main {
  margin-top: 215px;
}

body h1 {
  margin: 20px 0;
  font-size: 36px;
  color: var(--color-secondary);
  text-shadow: 0 4px 6px var(--color-shadow);
}

#quicklinks {
  width: 400px;
  margin: 0 auto 20px auto;
  display: flex;
  gap: 20px;
}

#quicklinks a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: var(--color-text);
  background-color: var(--color-fill);
  box-shadow: 0 4px 6px var(--color-shadow);
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

#search-input {
  width: 400px;
  height: 40px;
  padding: 10px;
  margin: 0 0 20px 0;
  font-size: 16px;
  text-align: center;
  background-color: var(--color-fill);
  box-shadow: 0 4px 6px var(--color-shadow);
  border: 1px solid var(--color-border);
  border-radius: 10px;
}
.match-card {
  background-color: var(--color-fill);
  width: 400px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 6px var(--color-shadow);
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

.match-card h2 {
  margin: 5px 0;
  font-size: 40px;
  color: var(--color-primary);
}

.match-card h4 {
  margin: 5px 0;
  font-size: 18px;
}

.match-card p {
  margin: 5px 0;
  font-size: 16px;
}

.card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  justify-content: left;
}

.round {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.date {
  justify-content: right;
}

.teams {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
}
